<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @group_question.name %>
</p>

<%= link_to 'Edit', edit_group_question_path(@group_question) %> |
<%= link_to 'Back', group_questions_path %>
